/*
Theme Name: Hanoi Tower
Author: Kenzie Academy
Author URI: https://www.kenzie.com.br;
Co-Author: Marcone Melo
Co-Author URI: https://www.linkedin.com/in/marconemm/
Co-Author: Daniel Epchin
Co-Author URI: www.linkedin.com/in/daniel-epichin-pena
Version: 1.0
 
-----------
STRUCTURE:
-----------
**** @imports
**** @keyframes
**** VARABLES DECLARATION
**** GENREAL CONFIG
**** BODY
**** HEADER
**** HOME PAGE
**** FOOTER
**** @media
*/

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

@keyframes alert {
  0% {
    transform: translateX(-5px);
    transform: translateY(-2px);
  }
  33.3% {
    transform: translateY(4px);
    transform: translateX(10px);
  }
  100% {
    transform: translateY(-2px);
    transform: translateX(-5px);
  }
}

/* VARABLES DECLARATION: */
:root {
  --color-red0: #d00000;
  --color-red1: #dc2f02;
  --color-red2: #6a040f;
  --color-red3: #370617;
  --color-texts: #edddd4;
  --color-yellow: #faa307;
  --color-RGBA-white: rgba(237, 221, 212, 0.75);
  --font-family-PermanentMarker: "Permanent Marker", cursive;
  --font-family-Comfortaa: "Comfortaa", cursive;
  --transition-time: 150ms;
  --border-radius: 10px;
  --button-width: 220px;
  --button-height: 50px;
}

/* GENERAL CONFIG: */
.displayFlex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
.displayFlex--col {
  flex-flow: column wrap;
}
.displayGrid {
  display: grid;
  align-items: center;
  justify-content: center;
}
.displayGrid--mobile {
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);
}
.italic {
  font-style: italic;
}
.hidden {
  display: none;
}

/*BODY: */
body.displayFlex.displayFlex--col {
  justify-content: space-between;
}
body {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  font-family: var(--font-family-Comfortaa);
  color: var(--color-texts);
  background-color: var(--color-texts);
  background: linear-gradient(
    to bottom,
    var(--color-red2) 0%,
    var(--color-red1) 75%,
    var(--color-red0) 90%
  );
}

/*HEADER:*/
header {
  width: 80%;
  height: 200px;
  float: left;
  z-index: 2;
}
summary {
  outline: none;
}
h1 {
  font-family: var(--font-family-PermanentMarker);
  text-shadow: 3px 3px 6px var(--color-red3);
  color: var(--color-texts);
  font-size: 2.3rem;
  text-align: center;
  margin-top: 10px;
}
/*MAIN PAGE: */
main {
  width: 95%;
}
details > ul,
details > ol {
  background-color: var(--color-RGBA-white);
  color: var(--color-red2);
  border-radius: 5px;
}
details > ul {
  padding: 10px;
}
details > ul > li,
details > ol > li {
  padding: 10px 0;
}
details[data-css="intructions"] > ol {
  background-color: var(--color-RGBA-white);
  margin: 0 auto;
}
div[data-js="pieceOnMoveContainer"] {
  width: 50%;
  height: 20px;
  position: absolute;
  top: 5px;
}
div[data-js="pieceOnMoveContainer"]::before {
  content: "Peça:";
  position: absolute;
  left: 0;
  color: var(--color-red3);
  font-weight: bold;
}
div[data-css="alertContainer"] {
  width: 70%;
  height: 100px;
  background-color: var(--color-yellow);
  position: absolute;
  top: 25%;
  cursor: pointer;
  z-index: 3;
  border: 3px solid #ffe8d6;
  border-radius: 20px;
  animation: alert 150ms 150ms alternate 4;
}
div[data-css="alertContainer"]::before {
  content: "movimento inválido!";
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  color: var(--color-red0);
  left: 25%;
  top: 10px;
}
span[data-css="alertMsg"] {
  display: block;
  margin: 40px;
  color: var(--color-red3);
}
.towersContainer {
  position: relative;
  width: 90%;
  height: fit-content;
  margin-top: -65px;
  padding: 10px 5px;
  border: 2px solid var(--color-red3);
  background: hsla(339, 80%, 12%, 1);
  background: linear-gradient(
    340deg,
    hsla(339, 80%, 12%, 0.9) 0%,
    hsla(12, 76%, 61%, 1) 39%,
    hsla(26, 100%, 92%, 1) 100%
  );
  border-top-left-radius: 10px;
  border-top-right-radius: 30px;
}
.towerTitle {
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
div[data-css="resultScreen"] {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-RGBA-white);
  z-index: 2;
  border-top-left-radius: 10px;
  border-top-right-radius: 30px;
}
div[data-css="resultScreen"] > h2,
h3 {
  margin-top: 30px;
  color: var(--color-red3);
}
.tower {
  position: relative;
  height: 190px;
  width: 150px;
}
.tower::before,
.tower::after {
  content: "";
  position: absolute;
  background-color: var(--color-yellow);
  border-radius: 10px;
}
.tower::before {
  width: 15px;
  height: 80%;
  left: 50%;
  bottom: 0;
  z-index: 1;
  transform: translateX(-50%);
  box-shadow: 3px 3px 4px 1px var(--color-red2);
}
.tower::after {
  width: 100%;
  height: 25px;
  bottom: 0;
  z-index: 2;
  border-top-left-radius: 60px;
  border-top-right-radius: 50px;
  box-shadow: 2px 5px 4px 1px var(--color-red2);
}
.piece {
  height: 25px;
  border-radius: 10px;
  z-index: 1;
}
div[data-css="piecesContainer"] {
  height: fit-content;
  align-self: flex-end;
  margin-bottom: 25px;
}
.piece__1 {
  width: 80px;
  background-color: #264653;
}
.piece__2 {
  width: 110px;
  background-color: #2a9d8f;
}
.piece__3 {
  width: 140px;
  background-color: #e76f51;
}
.piece__4 {
  width: 170px;
  background-color: #ffe8d6;
}
.btn {
  width: var(--button-width);
  height: var(--button-height);
  position: relative;
  background: var(--color-red3);
  border: 2px outset var(--color-yellow);
  border-radius: var(--border-radius);
  color: var(--color-texts);
  z-index: 1;
  font-size: 1rem;
  text-transform: uppercase;
}
.btn:active {
  transform: translateY(2px);
}
/****** Hover and Focus: */
.btn:hover {
  cursor: pointer;
  color: var(--color-red0);
  font-weight: bold;
  font-style: italic;
  transition: color var(--transition-time) ease-out;
}
.btn:hover::before {
  transform: scaleX(1);
}
.btn--effect::before {
  content: "";
  background: var(--color-texts);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: transform var(--transition-time) cubic-bezier(0, 0.79, 1, 1);
}
/****** Underline from center modifier: */
.btn__underLine::before {
  height: calc(var(--button-height) * 0.15);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.btn--underLineCenter::before {
  transform: scaleX(0);
}

/*FOOTER: */
footer {
  width: 100%;
  background-color: var(--color-red3);
  margin-top: 10px;
  padding-top: 10px;
  color: var(--color-texts);
  margin: 0 auto;
  text-align: center;
  font-size: 0.8rem;
  font-family: "Courier New", Courier, monospace;
}
#footer__author {
  font-weight: bold;
}
#footer__date,
time {
  font-style: italic;
}
.footer__logo {
  font-size: 1rem;
  text-decoration: none;
}
#footer__nav {
  margin-top: 5px;
  font-size: 1.5rem;
}
.fa-github {
  color: var(--color-texts);
}
.fa-linkedin {
  color: #0179b2;
}
.fa-facebook-square {
  color: #3c5a99;
}
.fa-gitlab {
  color: var(--color-texts);
}

/*@media: */
@media only screen and (min-width: 800px) {
  /* GENERAL CONFIG: */
  body {
    width: 80%;
    margin: 0 auto;
  }

  /*MAIN*/
  section.towersContainer {
    border: none;
    border-radius: 15px;
    padding: 30px;
    margin-top: 20px;
  }

  details[data-css="inputContainer"] > input {
    width: 80%;
  }

  .tower {
    cursor: pointer;
  }
  div[data-css="alertContainer"] {
    width: 50%;
  }
  div[data-css="resultScreen"] {
    border-radius: 15px;
  }
  ul[data-js="setOfFiveSection__result"] > li {
    padding: 0 25px;
  }

  /*FOOTER: */
  footer {
    width: 50%;
  }
  footer.displayFlex {
    font-size: 0.7rem;
    width: 100%;
  }
  #footer__author {
    flex: 1 1 200px;
  }
  .footer__logo {
    font-size: 1.5rem;
  }
}
